<div class="sidebar-module">

  <h4>{{ site.locales[site.default_locale].Links }}</h4>

  <a href="http://qto6bshdbjyxdch.moryou.com/index.html" target="_blank">
    <img src="https://github.com/kim-xps12/b-sky-lab/blob/gh-pages/images/links/qto6bshdbjyxdch.gif?raw=true" alt="link to qto6bshdbjyxdch">
    <p>没?ｭ怜ﾖ脳?研のホームページ</p>
  </a> 

  <a href="https://www.psych0h3ad.tech/" target="_blank">
    <img src="https://github.com/kim-xps12/b-sky-lab/blob/gh-pages/images/links/Psych0h3ad.gif?raw=true" alt="link to Psych0h3ad">
    <p>Psych0h3ad</p>
  </a>

  <a href="https://tac-lab.tech/" target="_blank">
    <img src="https://github.com/kim-xps12/b-sky-lab/blob/gh-pages/images/links/taclab.gif?raw=true" alt="link to tac-lab">
    <p>きまぐれ実験室</p>
  </a>


  当サイトはリンクフリーです．バナーもご自由にお使いください．リンクしていただいた際はTwitterからご連絡いただけると嬉しいです！
  <br>
  ↓バナー↓
  <img src="/images/banner.gif" alt="banner for this page">
</div>

