---
layout: home
author_profile: true
sidebar:
  nav: "docs"
---

<html>

  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
  </head>

    <!--
    Category : 
    {% for category in page.categories %}
    - <a href="{{ '/categories/' | append: category | relative_url }}">{{ category }}</a> &nbsp;
    {% endfor %}
    -->

    Tags : 
    {% for tag in page.tags %}
    - <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a> &nbsp;
    <!--- - <a href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a> &nbsp; --->
    <!--- - <a href="{{ site.baseurl }}/tags.html#{{ tag }}">{{ tag }}</a> &nbsp;--->
    {% endfor %}


    {{ content }}
</html>
