---
layout: home
author_profile: true
sidebar:
  nav: "docs"
---

<html>
    <!--
    Category : 
    {% for category in page.categories %}
    - <a href="{{ '/categories/' | append: category | relative_url }}">{{ category }}</a> &nbsp;
    {% endfor %}
    -->
   
    Tags : 
    {% for tag in page.tags %}
    - <a href="{{ site.baseurl }}/tags/{{ tag }}">{{ tag }}</a> &nbsp;
    <!--- - <a href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a> &nbsp; --->
    <!--- - <a href="{{ site.baseurl }}/tags.html#{{ tag }}">{{ tag }}</a> &nbsp;--->
    {% endfor %}

    <dl class="dl-horizontal">
      <dt>created : {{page.date | date : "%F"}}</dt>
      <dt>last change : {{page.lastchange}}</dt>
      <dd></dd>
    </dl>

    {{ content }}
</html>
